<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head.ejs') %>
  <title>Search Results</title>
</head>
<body>
  <header>
    <%- include('../../layout/header.ejs')%>
  </header>

  <main>
    <div id='page-title'>
      <h2>Book Details</h2>
    </div>
    <%- include('../partials/detail.ejs', {edit: false, bookshelves: bookshelves}) %>
  </main>

</body>
</html>