<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <header>
    <%- include('../../layout/header.ejs')%>
  </header>
  <main>
    <div id='page-title'>
      <h2>Search by Title or Author</h2>
    </div>
      
    <form action="/searches" method="post">
      <input type="text" name="search" placeholder="Enter a title or author" required>
      <fieldset>
        <div class="label-div">
          <label for="page-title">
            <p>Title</p>
            <input type="radio" name="search" value="title" required>
          </label>
        </div>

      </fieldset>
      <fieldset>
        <div class="label-div">
          <label for="author">
            <p>Author</p>
            <input type="radio" name="search" value="author" required>
          </label>
        </div>
      </fieldset>
      <button type="submit">Search the Google Books API</button>
    </form>
  </main>
</body>
</html>