<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head.ejs') %>
    <title>Error</title>
</head>
<body>
    <header>
        <%- include('../layout/header.ejs')%>
    </header>
    <div> <%= error %> </div>
</body>
</html>