<div id="header-title">
  <h1>Best Books!</h1>
</div>
<nav>
  <label for="hamburger">
    <img src="/images/hamburgerIcon.png" alt="menu">
  </label>
  <input type="checkbox" id="hamburger">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/searches/new">New Search</a>
    </li>
  </ul>
</nav>